<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Plisk</title>
  </head>
  <body>
    <div id="main" class="mw8 center"></div>
    <script defer src="/vendor.js"></script>
    <script defer src="/browser.js"></script>
  </body>
</html>
